
.jfx-tab-pane
{
-fx-padding: 1px;
-fx-background-color: #D41800, -fx-control-inner-background;
-fx-background-insets: 0, 1;
}

.jfx-tab-pane .headers-region
{
-fx-background-color: #D41800;
}

.jfx-tab-pane .tab-header-background
{
-fx-background-color: #D41800;
}

.jfx-tab-pane .tab-header-area .jfx-rippler
{
-jfx-rippler-fill : WHITE;
}

.jfx-tab-pane .tab-header-area .tab-selected-line{
-fx-background-color: white;
}

.list-view {
    -fx-selection-bar: #D41800 ;
    -fx-border-color: #D41800;
}

.jfx-rippler {
    -jfx-rippler-fill: WHITE;
}

.split-pane-divider {
    -fx-padding: 0 1 0 1 ;
    -fx-background-color: #d41800 ;
    -fx-background-insets: 0;
}
